* {
  margin: 0;
  padding: 0;
}
/*  Google Fonts */
/* H1 */
.sofia-regular {
  font-family: "Sofia", cursive;

  font-style: normal;
}
/* H3 */
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
/* FOOTER */
.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}
/* P */
.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
/* P LINKS */
.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  color: deeppink;
}
/* P ITALIC */
.italic-style {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  color: lightcoral;
}
/* NAVBAR */
.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}
.nav {
  background-color: pink;
}

.navbar-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar-list > li {
  padding: 10px;
  list-style: none;
  font-weight: normal;
}

li a:hover {
  background-color: pink;
  color: deeppink;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-list li {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .navbar-list li {
    font-size: 15px;
  }
}

section {
  display: block;
}

.sticky {
  position: fixed;
  z-index: 1;

  width: 100%;
}

.hero-image {
  background-image: url(./img/hero-img.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image h1 {
  font-size: 8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 125px;
}

.hero-image > h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 125px;
  font-size: 2.5rem;
  font-weight: normal;
}
/* Small Laptops/Desktops */
@media (min-width: 480px) and (max-width: 767px) {
  .hero-image > h1 {
    font-size: 5rem;
  }
}
/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .hero-image > h1 {
    font-size: 58px;
  }
  .hero-image h3 {
    text-align: center;
    font-size: 1.5rem;
  }
}
/* mini Smartphones */
@media (max-width: 320px) {
  .hero-image > h1 {
    font-size: 2rem;
  }
  .hero-image h3 {
    font-size: 1rem;
  }
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  justify-items: center;
  height: 875px;
}

.about h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  font-weight: bold;
  color: pink;
}

.about p {
  display: inline;
  flex-direction: row;
  justify-content: center;
  color: pink;
  padding-inline: 100px;
  padding-bottom: 100px;
  font-size: 1.3rem;
  font-weight: normal;
}

.about img {
  margin-top: 75px;
  border-radius: 10px;
}
/* Small Laptops/Desktops */
@media (min-width: 767px) and (max-width: 1440px) {
  .about h1 {
    font-size: 58px;
  }
  .about p {
    overflow: scroll;
  }
} /* SmartPhones */
@media (min-width: 320px) and (max-width: 480px),
  (min-width: 480px) and (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  .about h1 {
    font-size: 50px;
    padding-top: 50px;
  }
  .about p {
    padding-bottom: 50px;

    text-align: center;
    overflow: scroll;
  }
  .about img {
    margin-inline: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    image-rendering: auto;
  }
}
/* mini SmartPhones */
@media (max-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  .about h1 {
    font-size: 50px;
    text-align: center;
  }
  .about p {
    overflow: scroll;
  }
  .about img {
    width: 75%;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
}

.skills h1 {
  padding-top: 100px;

  font-size: 5rem;
  font-weight: bold;
  color: white;
}
.skills img {
  scale: 125%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .skills img {
    scale: 75%;
  }
}
#Projects h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 100px;

  font-size: 5rem;
  font-weight: bold;
  color: pink;
}
/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .skills h1 {
    font-size: 58px;
    padding-top: 50px;
  }
}
/* mini Smartphones */
@media (max-width: 320px) {
  .skills img {
    scale: 65%;
  }
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 50px;
  background-color: white;
}

.projects p {
  color: pink;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.projects img {
  border-radius: 5px;
  align-self: center;
  width: 200px;
  height: 200px;
}

.project-display {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.project-display p {
  padding-top: 20px;
}
/* Smartphones and Tablets */
@media (min-width: 320px) and (max-width: 480px),
  (min-width: 480px) and (max-width: 767px) {
  #Projects h1 {
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }
  .project-display img {
    align-self: center;
    width: 100px;
    height: 100px;
  }
  .project-display p {
    padding-inline: 10px;
    padding-top: 10px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .project-display img {
    align-self: center;
    width: 75px;
    height: 75px;
  }
  .project-display p {
    padding-inline: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-items: center;
  color: white;
  padding-top: 100px;
}

.contact h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 25px;
  font-size: 2.5rem;
  font-weight: normal;
}

.contact p {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 100px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .contact h3 {
    text-align: center;
  }
}
/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .contact h1 {
    font-size: 58px;
    text-align: center;
  }
  .contact h3 {
    font-size: 2rem;
    text-align: center;
  }
}
/* mini SmartPhones  */
@media (max-width: 320px) {
  .contact h1 {
    text-align: center;
  }
  .contact h3 {
    font-size: 25px;
    text-align: center;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: pink;
  font-size: 1rem;
  font-weight: normal;
}
