* {
  margin: 0;
  padding: 0;
}
body html {
  height: 100%;
}

section {
  display: block;
}
.hero-image {
  background-image: url(./img/hero-img.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  font-family: cursive;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding: 200px;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
